@use "sass:meta";
@use 'config';
@use 'helpers';

@import 'fonts';

:root {
  font-family: config.$font;
  font-size: 12pt;
  line-height: 1.25;
  color: config.$dark;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  @extend html;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: url("./img/anchors_white.svg") top center / 5rem auto repeat fixed darken(config.$lynx_white, 3);
}

::-moz-selection {
  background-color: config.$accent2;
}
::selection {
  background-color: config.$accent;
}

p {
  margin: 0 0 1.2rem;
  line-height: 1.4;
}

a, button {
  display: inline;
  color: config.$accent;
  text-decoration: none;
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer;
  font: inherit;

  &:hover {
    text-decoration: underline;
  }

  &.btn {
    display: inline-block;
    background-color: config.$accent;
    color: #fff;
    padding: .6em .8em;
    border-radius: .2em;
    box-shadow: 0 2pt 3pt #0004;
    transition: all .25s ease-out;
    text-transform: uppercase;

    &:hover {
      background-color: #fff;
      color: config.$accent;
      text-decoration: none;
      transition-timing-function: ease-in;
    }

    &.secondary {
      background: config.$light-gray;
      color: config.$dark;
    }
  }
}

* {
  &[class$="-link-img-wrapper"] {
    white-space: nowrap;

    &::after {
      @include config.icomoon;
      display: inline-block;
      margin: -.1em 0 0 .3em;
    }

    &.external-link-img-wrapper::after {
      content: "\e900";
    }

    &.mail-link-img-wrapper::after {
      content: "\e902";
    }
  }
}

ul.no_bullets {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

span.pre {
  display: inline-block;
  margin: 0;
  font: normal normal 400 1em/1 monospace;
}

#container {
  flex: 1 0 auto;
  width: 100%;
  max-width: config.$pageWidth;
  margin: 0 auto;
  padding: calc(#{config.$pagePadding} + #{config.$headerHeight}) config.$pagePadding config.$pagePadding;
  background: #fff;
  @include helpers.containerShadow();

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }

  #hero {
    clear: both;
  }

  main {
    float: left;
    width: calc(75% - 1rem);
  }

  #sidebar {
    float: right;
    width: calc(25% - 1rem);
    @include meta.load-css("sidebar");
  }
}

h2, h3, h4, h5, h6 {
  font-family: PoliticsHead, config.$font;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

@import 'header';
@import 'footer';