// FONTS
$font: DejaRip, Roboto, "Open Sans", "Helveticva Neue", Helvetica, Arial, "SF-Display", Ubuntu, sans-serif;

// COLORS
$dracula: #2d3436;
$lynx_white: #f5f6f6;
$gray: #777;
$light-gray: #ccc !default;
$dark-gray: #343434;
$orange: #fd8625;
$light-orange: #ffaf40;
$purple: #5866a2;
$green: #28a035;
$lime: #90bb31;
$light-blue: #53bccf;
$pirate-orange: #ff8800;
$pirate-purple: #052480;

// CONFIGURATION
$dark: $dracula !default;
$accent: $orange !default;
$accent2: $light-orange !default;
$pagePadding: 2.5rem !default;
$pageWidth: 1200px !default;
$headerHeight: 50pt !default;

@mixin icomoon() {
  font: {
    style: normal;
    variant: normal;
    weight: 400;
    family: "icomoon" !important;
  }
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: middle;
}