@use 'config';
@use 'helpers';

#site_footer {
  background: config.$dark;
  color: #fff;
  margin: 0 calc(50% - #{config.$pageWidth / 2});
  padding: #{config.$pagePadding / 2} config.$pagePadding;
  font-weight: 300;
  @include helpers.containerShadow();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: #{config.$pageWidth}) {
    margin: 0;
  }

  & > div {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        width: calc(33.33333% - 1rem);
      }
    }

    &:nth-child(4) {
      width: 100%;
    }

    &#copyright {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      margin-top: 1em;
      padding-top: 1em;
      padding-right: 2rem;
      border-top: 2pt solid rgba(#fff, .4);

      :first-child {
        padding-right: .3em;
      }
    }

    &#license p {
      display: inline-block;
      text-align: left;
      font-size: .8em;
    }

    h3 {
      margin: 0;
      font-weight: 400;

      & ~ * {
        margin-top: .5em;
      }
    }

    ul a {
      color: inherit;
      &:hover,
      &:active,
      &:focus {
        color: config.$accent;
        text-decoration: none;
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  #btn_up {
    display: block;
    position: fixed;
    bottom: 3vmin;
    right: 3vmin;
    width: 2em;
    height: 2em;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    background: #fff;
    border-radius: 50%;
    transition: all .2s ease-in;
    box-shadow: 0 .7pt 2pt rgba(#000, .25);
    transform: scale(0);

    &.show {
      transform: scale(1);
      transition-timing-function: cubic-bezier(0.42, 0, 0.23, 2.1);
    }

    &::before {
      content: "\e90b";
      @include config.icomoon();
    }

    &:hover,
    &:active,
    &:focus {
      background: config.$accent2;
      color: #fff;
      text-decoration: none;
      transition-timing-function: ease-out;
    }
  }

  @media (max-width: 620px) {
    & > div {
      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          width: calc(50% - .75rem);
        }
      }
      &:nth-child(3) {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }

  @media (max-width: 420px) {
    & > div {
      width: 100% !important;

      &:nth-child(2) {
        margin-top: 1.5rem;
      }
    }
  }
}