@use 'config';

#site_header {
  $headerPadding: 7pt;
  $headerContent: #{config.$headerHeight - $headerPadding * 2};
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: config.$headerHeight;
  padding: 0 calc(50% - #{config.$pageWidth / 2} + #{config.$pagePadding});
  filter: drop-shadow(0 2pt 3pt rgba(#000, .2));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  h1 {
    margin: 0;
    padding: #{$headerPadding / 2} 0;
    height: 100%;
  }

  img {
    width: auto;
    height: config.$headerHeight - $headerPadding;
    position: relative;
    z-index: 100;
  }

  #site_nav {
    display: block;
    height: 100%;
    z-index: 99;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    & > ul > li {
      display: inline-block;
      height: 100%;
      position: relative;

      & > a,
      & > button {
        display: inline-block;
        height: 100%;
        line-height: $headerContent;
        padding: $headerPadding calc(1rem + .3em);
        cursor: pointer;
        color: config.$dark-gray;
        transition: all .3s ease-out;
        text-transform: uppercase;
        letter-spacing: 1pt;
        font-weight: 500;
        clip-path: polygon(1.5rem 0, 100% 0, calc(100% - 1.5rem) 100%, 0 100%);
      }

      &:hover,
      &:active,
      &.open {
        & > a,
        & > button {
          color: config.$accent;
          background: config.$dark;
          transition: color .25s ease-out, background .3s ease-out;
          text-decoration: none;
          outline: none;
        }
      }

      &.active {
        & > a,
        & > button {
          color: config.$accent2 !important;
        }
      }

      &:not(:last-child) {
        margin-right: -1.3rem;

        &::after {
          content: "\002f";
          color: config.$dark;
          font-weight: 500;
          position: relative;
          left: -.75rem;
        }
      }

      & > ul {
        display: none;
        position: absolute;
        top: config.$headerHeight;
        background: config.$dark-gray;
        height: auto;
        min-width: 100%;

        li {
          * {
            display: block;
            padding: .4em .8em;
          }

          &:first-child * {
            padding-top: .6em;
          }

          &:last-child * {
            padding-bottom: .6em;
          }

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              background: #fff3;
            }

            &.active {
              color: config.$accent2;
            }
          }
        }

        hr {
          padding: 0 .8em;
        }
      }
      &:hover,
      &.open {
        & > ul {
          display: block;
        }
      }
    }
  }

  #site_nav_toggle {
    display: none;
  }

  #nav_helper {
    display: none;
  }

}

@at-root {
  body.admin #site_header {
    top: 32px;
  }
}