@mixin roboto($name) {
  @font-face {
    font-family: "Roboto";
    @if str-index($name, "Italic") == null {
      font-style: normal;
    } @else {
      font-style: italic;
    }
    @if str-index($name, "Black") != null {
      font-weight: 900;
    } @else if str-index($name, "Bold") != null {
      font-weight: 700;
    } @else if str-index($name, "Light") != null {
      font-weight: 300;
    } @else if str-index($name, "Medium") != null {
      font-weight: 500;
    } @else if str-index($name, "Thin") != null {
      font-weight: 200;
    } @else {
      font-weight: 400;
    }
    src: local("Roboto-#{$name}"), url("./fonts/roboto/Roboto-#{$name}.ttf") format("truetype");
  }
}

@each $type in ("Regular", "Italic", "Medium", "MediumItalic", "Bold", "BoldItalic", "Black", "BlackItalic", "Light", "LightItalic", "Thin", "ThinItalic") {
  @include roboto($type);
}

// PoliticsHead
@font-face {
  font-family: "PoliticsHead";
  font-style: normal;
  font-weight: 700;
  src: local("PoliticsHead"), url("./fonts/politicshead/PoliticsHeadv1_9.otf") format("opentype");
}

// DejaRip
@each $type, $props in ('': normal 400, '-Bold': normal 700, '-BoldItalic': italic 700, '-Italic': italic 400) {
  @font-face {
    font-family: DejaRip;
    font-style: nth($props, 1);
    font-weight: nth($props, 2);
    src: local("DejaRip#{$type}"), url("./fonts/dejarip/DejaRip#{$type}.otf") format("opentype");
  }
}

// icomoon
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:  url('./fonts/icomoon/icomoon.eot?iqvg9c');
  src:  url('./fonts/icomoon/icomoon.eot?iqvg9c#iefix') format('embedded-opentype'),
    url('./fonts/icomoon/icomoon.ttf?iqvg9c') format('truetype'),
    url('./fonts/icomoon/icomoon.woff?iqvg9c') format('woff'),
    url('./fonts/icomoon/icomoon.svg?iqvg9c#icomoon') format('svg');
}