@use 'config';

article {
  h2 {
    margin: 3rem 0 .5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1pt;
    color: config.$gray;
  }

  &:first-child h2 {
    margin-top: 0;
  }
}


// Widgets
@import './widgets';