@use 'config';
@use 'helpers';

// Search form
[id^="search-"] form {
  @include helpers.searchform();
}

// Share buttons
[id^="ns_share_buttons_widget"] .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    $height: 3rem;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    li {
      display: inline-block;
      width: 25%;
      height: auto;

      a, button {
        display: block;
        width: 100%;
        height: 0;
        padding: 0 0 100%;
        background: config.$dark-gray;
        color: #fff;
        transition: all .25s ease-in-out;

        $socialButtons: ("twitter", "facebook", "reddit", "mastodon", "whatsapp", "telegram");

        @for $i from 1 through length($socialButtons) {
          &.#{nth($socialButtons, $i)} {
            background: url("../img/social.svg") #{($i - 1) * 20%} 0 / auto 100% no-repeat;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
          transform: scale(1.1);
        }

        &:not(.mail),
        &:not(.link) {
          &::after {
            content: none;
          }
        }

        &.mail,
        &.link {
          position: relative;

          &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            @include config.icomoon();
            font-size: 200%;
            margin: 0;
            padding: 0;
          }
        }

        &.mail::after {
          content: "\e902";
        }

        &.link::after {
          content: "\e903";
        }
      }
    }
  }
}