@use 'sass:list';
@use 'includes/conf' as *;

body.single-post {

  .post {

    &__image {
      width: 100%;
      height: 0;
      padding: 0 0 56.25%;
      background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
      }

      @media (min-width: #{list.nth($breakPoints, 1)}) and (max-width: #{list.nth($breakPoints, 2) - 1px}) {
        padding-bottom: 42.8571429%;
      }

      &__wrapper {
        margin: s(-5) s(-2) s(4);

        @include m(1) {
          margin: s(-8) s(-4) s(4);
        }

        @include m(2) {
          margin: s(-6) s(-6) s(4);
        }
      }
    }

    &__header {
      &__meta {
        display: table;
        border-collapse: separate;
        border-spacing: 0 .3em;

        @include m(1) {
          display: block;
          border-collapse: collapse;
          border-spacing: 0;
        }

        * {
          font-size: .8rem;
          color: $gray;
        }

        a {
          @include link {
            color: inherit;
          }
          @include hover {
            color: $secondary;
          }
        }

        &> div {
          display: table-row;

          @include m(1) {
            display: inline-block;
            &:not(:last-child) {

              margin-right: 1em;
            }
          }

          &> * {
            display: table-cell;

            @include m(1) {
              display: inline;
            }

            &:nth-child(2) {
              padding-left: .3em;
            }
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              display: inline-block;

              &:not(:last-child)::after {
                content: "\0020\00b7\0020";
              }
            }
          }
        }
      }
    }
  }

}